.blind {
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

// padding
.padding-ori {
    padding: 0 150px;

    @media (max-width: 1600px) {
        margin: 0 auto;
        padding: 0 90px;
        max-width: 1476px;
    }
    @include laptop() {      
        padding-left: 30px; 
        padding-right: 30px;           
    }
    @include tablet() {   
        padding-left: 24px; 
        padding-right: 24px;                
    }
}

.sc-wrapper {
    padding-left: 90px;
    padding-right: 90px;
    max-width: 1476px;
    margin: 0 auto;
    @include laptop() {  
        padding-left: 30px; 
        padding-right: 30px;               
    }
    @include tablet() {  
        padding-left: 24px; 
        padding-right: 24px;                 
    }
}

// 애니메이션
@keyframes arrowMove {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(8px);
    }
}